
/*Top padding for all pages*/

.Ab
{
 padding-top: 59px;
 padding-left: 100px;
 padding-right: 100px;
}


/*Page padding*/

html, body
{
 min-height: 100%;
 height: 100%;
 max-height: 100%;
}

/*Pagetext*/

.hometoptext
{
 padding-bottom: 15px;
}

.homebottomtext
{
 padding-bottom: 15px;
}

.eventsbottomtext
{
 padding-bottom: 15px;
}

.songstext
{
 padding-bottom: 15px;
}

.thumbnail img /*for gallery*/
{
 padding-bottom: 15px;	
}

.tancbottomtext
{
 padding-bottom: 15px;	
}

h4
{
 text-align: center;
}

h5
{
 text-align: center;
}

p
{
 text-align: center;
}


/*Header image*/

#banner
{
 max-width: 100%;
 max-height: auto;
}

.imgwrapper 
{
 width: 100%;
 height: 50%;
 padding-left: 48px;
}


/*Navbar*/

.container1
{
 width: 100%;
}

.navbar-header 
{
 padding-top: 10px;
 padding-right:44%;
 float:right;
}

.navbar-inverse
{
 width: 100%;
}

.navbar-right
{
 width: 100%;
 position: relative;
 padding-left: 449px;
 }

 ul  
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-align: center;
 overflow: hidden;
}

li 
{
 display: inline-block;
}

li a 
{
 display: block;
 color: grey;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover 
{
 color: white;
 background-color: #222;
}


/*Image header link*/

img.ba
{
 max-height: 160%;
 border: 10%;
 position: right;
 position: relative;
 padding-left: 23%;
 top: -14px;
 right: 0px;
}

.col-lg-6
{
 
 margin-left: auto;
 margin-right: auto;
 padding-right: 10px;
 padding-bottom: 10px;
}


/*Band bio images & Gallery*/

.col-lg-12
{
 display: inline-block;
 margin-left: auto;
 margin-right: auto;
 padding-right: 108px;
}

.biotext1 
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 15px;
}

/*Events*/

.pasteventstext
{
 padding-right: 40px;
 text-align: center;
}

.eventstext1
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 15px;
}

/*Songs*/

.tracksong
{
 padding-right: 12%;
}

.col-md-12.boxpadding
{
 padding-top: 0%;
 padding-bottom: 1%;
 padding-right: 11%;
}

.songstext1
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 15px;
 padding-right: 13%;
}

.songstext
{
 padding-right: 20px;
}

.songlinktext
{
 padding-right: 20px;	
}

img.songimg
{
 text-align: center; 
 padding-left: 2px;
}

a.thumbnail
{
 text-decoration: none;
 border-style: none;
 border-radius: none; 
}

a.thumbnail:hover 
{ 
 outline: none;
 outline-style: none; 
 outline-color: black;
}

.col-md-3
{
 float: right;
 padding-left: 4%;
 padding-right: 1%
}


/*Bookings*/

.col-md-12
{
 display: inline-block;
 text-align: center;
 margin-left: 0;
 margin-right: 0;
 padding-right: 100px;
 padding-top: 1%;
 padding-bottom: 5%;
}

.btn-primary 
{
 color: #fff;
 background-color: grey;
 border-color: grey;
}

.btn-primary:hover 
{
 color: #fff;
 background-color: #222;
 border-color: grey;
}


/*About us*/

.aboutimg
{
 text-align: center;
 padding-bottom: 2%;
}

.aboutustext
{
 text-align: center;
 padding-bottom: 15px;	
}


/*Terms and conditions*/
.tandcheader2
{
 text-align: center;
}

.tandcheader3
{
 text-align: center;
}

.tandctext
{
 text-align: center;
}


/*Footer*/

.footer-bs {
    background-color: #222;
	padding: 10px 40px;
	padding-top: 0px;
	color: rgba(255,255,255,1.00);
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color: grey; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color: white; text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color: grey; }
.footer-bs .footer-nav ul.list a:hover { color: white; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color: grey;}
.footer-bs .footer-social a:hover { color:white; text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 0px rgba(255,255,255,0.10); }
}

.footerimg
{
 padding-top: 5px;
 width: 30%;
 height: 30%;
}


/* Medium devices (desktops, 992px and up) */
@media (max-width: 990px){

/*Top padding for all pages*/

.Ab
{
 padding-top: 59px;
 padding-left: 100px;
 padding-right: 100px;
}


/*Page padding*/

html, body
{
 min-height: 100%;
 height: 100%;
 max-height: 100%;
}


/*Pagetext*/

.homeheadertext
{
 padding-left: 16%;
}

.hometoptext
{
 padding-bottom: 15px;
}

.homebottomtext
{
 padding-bottom: 15px;
 padding-left: 15%;
 margin-left: -23%; 
 margin-right: -23%;
}

.eventsbottomtext
{
 padding-bottom: 15px;
 text-align: center;
 margin-left: -13%;
 margin-right: -13%;
}

.songstext
{
 padding-bottom: 15px;
}

.thumbnail img /*for gallery*/
{
 padding-bottom: 15px;	
}

.tancbottomtext
{
 padding-bottom: 15px;	
}

h4
{
 text-align: center;
}

h5
{
 text-align: center;
}

p
{
 text-align: center;
}


/*Header image*/

#banner
{
 max-width: 100%;
 max-height: auto;
}

.imgwrapper 
{
 width: 100%;
 height: 50%;
 padding-left: 0%;
}


/*Navbar*/

.container1
{
 width: 100%;
}

.navbar-header 
{
 padding-top: 10px;
 padding-right:44%;
 float:right;
}

.navbar-inverse
{
 width: 100%;
}

.navbar-right
{
 width: 100%;
 position: relative;
 padding-left: 300px;
 }

 ul  
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-align: center;
 overflow: hidden;
}

li 
{
 display: inline-block;
}

li a 
{
 display: block;
 color: grey;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover 
{
 color: white;
 background-color: #222;
}


/*Image header link*/

img.ba
{
 max-height: 160%;
 border: 10%;
 position: right;
 position: relative;
 padding-left: 45%;
 top: -14px;
 right: 0px;
}

.col-lg-6
{
 
 margin-left: auto;
 margin-right: auto;
 padding-right: 10px;
 padding-bottom: 10px;
}


/*Band bio images & Gallery*/

.col-lg-12
{
 display: inline-block;
 margin-left: auto;
 margin-right: auto;
 padding-right: 108px;
}

.bioimgsize
{
 width:100%;
 height:100%;
 padding-left: 90px;
}

.biotext1 
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 15px;
 padding-left: 34%;
}


/*Events*/

.eventsheader
{
 padding-left: -2%;
}

.pasteventstext
{
 text-align: center;
 margin-left: -20%;
 margin-right: -20%;
}

.eventstext1
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 15px;
}

.eventimg
{
 padding-left: 14%;
}

/*Songs*/

.tracksong
{
 padding-left: 24%;
}

.songheadtext
{
 padding-right: 1%;
}

.col-md-12.boxpadding
{
 padding-top: 0%;
 padding-bottom: 1%;
 padding-right: 11%;
}

.songstext
{
 padding-left: 24%;
}

.songstext1
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 14px;
 padding-left: 30%;
}

img.songimg
{
 text-align: center; 
 padding-left: 24%;
}

a.thumbnail
{
 text-decoration: none;
 border-style: none;
 border-radius: none; 
}

a.thumbnail:hover 
{ 
 outline: none;
 outline-style: none; 
 outline-color: black;
}

.col-md-3
{
 float: right;
 padding-left: 4%;
 padding-right: 1%
}

.col-md-12.boxpadding
{
 float: right;
 padding-right: 17%;
}

div.searchbox
{
 padding-right: 2%;

}


/*Gallery*/

.galleryheadtext
{
 padding-right: 1%;
}

img.galleryimg
{
 padding-left: 32%;
}


/*Bookings*/

.col-md-12
{
 display: inline-block;
 text-align: center;
 margin-left: 0;
 margin-right: 0;
 padding-left: 14%;
 padding-top: 1%;
 padding-bottom: 5%;
}

.btn-primary 
{
 color: #fff;
 background-color: grey;
 border-color: grey;
}

.btn-primary:hover 
{
 color: #fff;
 background-color: #222;
 border-color: grey;
}

.submitbtn
{
 padding-left: 5%;
}


/*About us*/

.aboutimg
{
 text-align: center;
 padding-bottom: 2%;
}

.aboutustext
{
 text-align: center;
 padding-bottom: 15px;	
}


/*Terms and conditions*/
.tandcheader2
{
 text-align: center;
}

.tandcheader3
{
 text-align: center;
}

.tandctext
{
 text-align: center;
}


/*Footer*/

.footer-bs {
    background-color: #222;
	padding: 10px 40px;
	padding-top: 0px;
	color: rgba(255,255,255,1.00);
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color: grey; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color: white; text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color: grey; }
.footer-bs .footer-nav ul.list a:hover { color: white; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color: grey;}
.footer-bs .footer-social a:hover { color:white; text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 0px rgba(255,255,255,0.10); }
}

.footerimg
{
 padding-top: 5px;
 padding-left: 14px;
 width: 10%;
 height: 10%;
}

.footer-bs .footer-social ul
{
 padding-right: 2%;

}

}


/* Small devices (tablets, 768px and up) */
@media (max-width: 767px){

/*Top padding for all pages*/

.Ab
{
 padding-top: 59px;
 padding-left: 100px;
 padding-right: 100px;
}


/*Page padding*/

html, body
{
 min-height: 100%;
 height: 100%;
 max-height: 100%;
}


/*Pagetext*/

.homeheadertext
{
 padding-left: 22%;
 padding-bottom: 7%;
}

.hometoptext
{
 padding-bottom: 15px;
}

.homebottomtext
{
 padding-bottom: 23%;
 padding-left: 20%;
 margin: -22%;
 padding-top: 15%
}

.eventsbottomtext
{
 padding-bottom: 15px;
 text-align: center;
 margin-left: -4%;
 margin-right: -4%;
}

.songstext
{
 padding-bottom: 15px;
}

.thumbnail img /*for gallery*/
{
 padding-bottom: 15px;	
}

.tancbottomtext
{
 padding-bottom: 15px;	
}

h4
{
 text-align: center;
}

h5
{
 text-align: center;
}

p
{
 text-align: center;
}


/*Header image*/

#banner
{
 max-width: 100%;
 max-height: auto;
}

.imgwrapper 
{
 width: 100%;
 height: 50%;
 padding-left: 0%;
 padding-top: 33.5%;
}


/*Navbar*/

.container1
{
 width: 100%;
}

.navbar-header 
{
 padding-top: 10px;
 padding-right:44%;
 float:right;
}

.navbar-inverse
{
 width: 100%;
}

.navbar-right
{
 width: 100%;
 position: relative;
 display: inline;
 }

 ul  
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-align: center;
 overflow: hidden;
}

li 
{
 display: inline-block;
}

li a 
{
 display: block;
 color: grey;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover 
{
 color: white;
 background-color: #222;
}


/*Image header link*/

img.ba
{
 max-height: 160%;
 border: 10%;
 position: right;
 position: relative;
 padding-left: 57%;
 top: -14px;
 right: 0px;
}

.col-lg-6
{
 
 margin-left: auto;
 margin-right: auto;
 padding-right: 10px;
 padding-bottom: 10px;
}


/*Band bio images & Gallery*/

.col-lg-12
{
 display: inline-block;
 margin-left: auto;
 margin-right: auto;
 padding-right: 108px;
}

.bioimgsize
{
 width: 70%;
 height: 55%;
 padding-left: 90px;
}

.biotext1 
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 15px;
 padding-left: 24%;
}


/*Events*/

.pasteventstext
{
 text-align: center;
 margin-left: -40%;
 margin-right: -40%;
}

.eventstext1
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 15px;
}

.eventimg
{
 padding-left: 18%;
 padding-top: 35%;
}

/*Songs*/

.tracksong
{
 padding-right: 0%;
}

.songheadtext
{
 padding-left: 1%;
 padding-top: 33%;
}

.col-md-12.boxpadding
{
 padding-top: 0%;
 padding-bottom: 1%;
 padding-right: 11%;
}

.songstext
{
 padding-left: 29%;
}

.songstext1
{
 color: #333;
 font-style: italic;
 text-align: center;
 font-size: 14px;
 padding-left: 37%;
}

.songlinktext
{	
 
}

img.songimg
{
 text-align: center;
 padding-left: 36%;
 padding-top: 2%;
}

a.thumbnail
{
 text-decoration: none;
 border-style: none;
 border-radius: none; 
}

a.thumbnail:hover 
{ 
 outline: none;
 outline-style: none; 
 outline-color: black;
}

.col-md-3
{
 float: right;
 padding-left: 4%;
 padding-right: 1%
}

.col-md-12.boxpadding
{
 float: left;
 padding-left: 35.9%;
 padding-top: 4%;
}

div.searchbox
{
 padding-right: 2%;
}


/*Gallery*/

.galleryheadtext
{
 padding-right: 1%;
 padding-top: 33%;
}

.gallimg
{
 padding-left: 14%;
}


/*Bookings*/

.bookingsheadtext
{
 padding-top: 33%;
}

.col-md-12
{
 display: inline-block;
 text-align: center;
 margin-left: 0;
 margin-right: 0;
 padding-left: 17%;
 padding-top: 1%;
 padding-bottom: 5%;
}

.btn-primary 
{
 color: #fff;
 background-color: grey;
 border-color: grey;
}

.btn-primary:hover 
{
 color: #fff;
 background-color: #222;
 border-color: grey;
}

.submitbtn
{
 padding-left: 12%;
}


/*About us*/

.aboutimg
{
 text-align: center;
 padding-bottom: 2%;
}

.aboutustext
{
 text-align: center;
 padding-bottom: 15px;	
}


/*Terms and conditions*/
.tandcheader2
{
 text-align: center;
}

.tandcheader3
{
 text-align: center;
}

.tandctext
{
 text-align: center;
}


/*Footer*/

.footer-bs {
    background-color: #222;
	padding: 10px 40px;
	padding-top: 0px;
	color: rgba(255,255,255,1.00);
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color: grey; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color: white; text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color: grey; }
.footer-bs .footer-nav ul.list a:hover { color: white; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color: grey;}
.footer-bs .footer-social a:hover { color:white; text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 0px rgba(255,255,255,0.10); }
}

.footerimg
{
 padding-top: 5px;
 padding-left: 14px;
 width: 10%;
 height: 10%;
}

.footer-bs .footer-social ul
{
 padding-right: 2%;

}

}


/* Extra small devices (phones, less than 768px)*/
@media (max-width: 479px){



}
