<!--songs.html-->
<div id="songs">
  <h4 align="center"><u>Songs</u></h4>
    <div class="w">
      <section>
        <div align="center">
          <img src="/assets/images/album1.jpg" alt="" height=120 width=150><p>Album 1</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a>
        </div>
        <div align="center">
          <img src="/assets/images/album2.jpg" alt="" height=120 width=150><p>Album 2</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a>
        </div>
        <div align="center">
          <img src="/assets/images/album3.jpg" alt="" height=120 width=150><p>Album 3</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a>
        </div>
        <div align="center">
          <img src="/assets/images/album4.jpg" alt="" height=120 width=150><p>Album 4</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a>
        </div>
        <div align="center">
          <img src="/assets/images/album5.jpg" alt="" height=140 width=150><p>Album 5</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a>
        </div>
        <div align="center">
          <img src="/assets/images/album6.jpg" alt="" height=140 width=150><p>Album 6</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a>  
        </div>
        <div align="center">
          <img src="/assets/images/album7.jpg" alt="" height=140 width=150><p>Album 7</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a>
        </div>
        <div align="center">
          <img src="/assets/images/album8.jpg" alt="" height=140 width=150><p>Album 8</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="http://www.apple.com/uk/itunes/">Purchase on itunes</a> 
        </div>
      </section>
</div>